.hall-config__controls {
  display: flex;
  flex-direction: column;

  margin-bottom: 35px;
  gap: 10px;
}

.hall-config__controls-places {
  display: flex;
  gap: 10px;
  align-items: center;
}

.hall-config__controls-symbol {
  position: relative;
  top: 6px;

  font-family: Consolas;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.3125rem;
  text-transform: uppercase;

  color: #848484;
}

.hall-config__controls-label {
  display: flex;
  flex-direction: column;

  font-size: 0.75rem;
  font-weight: 400;
  line-height: 0.875rem;

  color: #848484;
}

.hall-config__controls-input {
  width: 100px;
  height: 36px;
  padding-left: 10px;
  padding-right: 10px;

  font-size: 1rem;
  font-weight: 400;
  line-height: 1.1719rem;
  color: #757575;
  text-align: start;

  border: 1px solid #b7b7b7;
  border-radius: 1px;
}

.hall-config__controls-input:focus {
  outline: none;
  border-color: #63536c;
  box-shadow: 0 0 5px rgba(79, 1, 99, 0.5);
}

.hall-config__types-of-chairs {
  margin-bottom: 26px;
}

.hall-config__types-of-chairs-info {
  display: grid;
  gap: 10px;
  margin-bottom: 11px;
}

.hall-config__types-of-chairs-info-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;

  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1rem;
  color: #848484;
}

.hall-config__types-of-chairs-info-row {
  display: flex;
  gap: 10px;
  align-items: center;
}

.hall-config__types-of-chairs-tittle {
  font-size: 0.875rem;
  line-height: 1rem;
  color: #848484;

  margin-bottom: 11px;
}

.hall-config__types-of-chairs-screen {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid;

  padding: 20px 10px 35px 10px;
}

.hall-config__types-of-chairs-row {
  display: flex;
  gap: 10px;
  align-items: center;
}

.hall-config__types-of-chairs-screen-tittle {
  font-size: 1rem;
  line-height: 1.125rem;
  letter-spacing: 1.1875rem;

  margin-bottom: 20px;
}

.hall-config__grid {
  display: grid;
  gap: 5px;
  font-size: 12px;
  font-weight: bold;
  color: white;
  cursor: pointer;
}

.hall-config__types-of-chairs-seat-standart {
  background: #c4c4c4;
  border: 1px solid rgba(57, 57, 57, 1);
}

.hall-config__types-of-chairs-seat-vip {
  background: url(/box__bg.png);
  border: 1px solid #0a828a;
}

.hall-config__types-of-chairs-seat-disabled {
  background-color: transparent;
  border: 1px solid rgba(196, 196, 196, 1);
}

.box {
  width: 26px;
  height: 26px;
  border-radius: 4px;
}

.hall-config__actions {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 20px;
}

.hall-config__actions-cancel {
  height: 40px;

  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1rem;

  border: none;
  border-radius: 3px;
  cursor: pointer;
  width: 121px;

  background-color: #fff;
  color: #63536c;
}

.hall-config__actions-cancel:active {
  background-color: #63536c;
  color: #fff;
}

.hall-config__actions-save {
  height: 40px;

  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1rem;

  border: none;
  border-radius: 3px;
  cursor: pointer;
  width: 146px;

  background-color: #16a6af;
  color: white;
}

.hall-config__actions-save:active {
  background-color: #63536c;
}
