.open-sales_title {
  text-align: center;
  margin-bottom: 29px;
}

.open-sales__actions {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.open-sales__actions-button {
  height: 40px;
  width: 270px;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1rem;

  border: none;
  border-radius: 3px;
  cursor: pointer;

  background-color: #16a6af;
  color: white;
}

.open-sales__actions-button:active {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
