.modal__overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);

  display: flex;
  justify-content: center;
  align-items: center;

  z-index: 1000;
}

.modal__content {
  display: flex;
  flex-direction: column;

  padding: 0;

  max-width: 972px;
  width: 100%;

  align-items: center;
  background: #eae9ebf2;
}

.modal__header {
  position: relative;

  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;

  background-color: #63536c;
  color: #fff;

  height: 57px;
  padding: 16px 42px 14px;

  width: 100%;
  letter-spacing: 0;
  white-space: nowrap;
}

.modal__header h2 {
  font-size: 1.375rem;
  font-weight: 700;
  line-height: 1.5625rem;
  text-transform: uppercase;

  margin: 0;
}

.modal__close {
  width: 22px;
  height: 22px;
  background-image: url(/admin__close-button.png);
  background-size: cover;

  border: none;
  cursor: pointer;
}

.modal__form {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;

  width: 100%;

  padding: 30px;
  max-width: 768px;
}

.modal__form-container {
  width: 100%;
}

.modal__form-label {
  color: #848484;
}

.modal__form-input {
  width: 100%;
  height: 36px;

  padding: 8px;

  background-color: #fff;

  outline: none;
  border: 1px solid #b7b7b7;
}

.modal__form-input:focus {
  outline: #63536c;
  border-color: #63536c;
}

.modal__form-input::placeholder {
  color: #757575;
}

.modal__actions {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  gap: 10px;
  justify-content: center;
  margin: 20px 0 0;
}

.btn-box {
  font-size: 0.875rem;
  /* font-weight: 500; */
  text-transform: uppercase;
  line-height: 1rem;

  border-radius: 3px;
  border: none;

  display: flex;
  align-items: center;
  justify-content: center;

  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.24);
  cursor: pointer;
}

.btn__primary {
  max-width: 194px;
  width: 100%;
  height: 40px;

  background-color: #16a6af;
  color: #fff;
}

.btn__primary:active {
  background-color: #63536c;
  border: none;
}

.btn__secondary {
  max-width: 139px;
  width: 100%;
  height: 40px;

  background-color: #fff;
  color: #63536c;

  &:active {
    background-color: #63536c;
    color: #fff;
    border: none;
  }
}
