.admin-container {
  width: 100%;
  min-height: 100vh;
  background-image: url("/bg-admin.jpg");
  background-color: #252322;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 0;
}

.admin-container::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background-color: rgba(0, 0, 0, 0.5);
}

.admin_header {
  max-width: 1028px;
  margin: 0 auto;
  padding-top: 35px;
  padding-bottom: 35px;
  display: flex;
  flex-direction: column;
  padding: 35px 104px;
  color: #ffffff;
}

.admin_header-logo {
  color: white;
  font-size: 34px;
  font-weight: 900;
  line-height: 39px;
  text-transform: uppercase;
  text-decoration: none;
  margin: 0;
}

.header_logo-letter {
  font-weight: 100;
}

.admin_subtitle {
  font-size: 10px;
  line-height: 10px;
  font-weight: 400;
  letter-spacing: 5px;
  text-transform: uppercase;
  margin: 0;
}

.login_main {
  max-width: 480px;
  margin: 0 auto;
}

.login_main-header {
  background-color: #63536c;
  padding: 16px;
  text-align: center;
}

.login_main-header-text {
  color: #ffffff;
  font-size: 22px;
  line-height: 25px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
}

.login_form {
  background-color: #eae9eb;
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
}

.login_label {
  display: flex;
  flex-direction: column;
  width: 272px;
}

.login_label-text {
  color: #848484;
  font-size: 12px;
  line-height: 14px;
  margin-bottom: 2px;
}

.login_input {
  height: 36px;
  background-color: #ffffff;
  border: 1px solid #b7b7b7;
  color: #757575;
  font-size: 16px;
  padding-inline: 8px;
}

.login_input:focus {
  outline: #757575 auto 1px;
}

.login_button {
  background-color: #16a6af;
  color: #ffffff;
  font-size: 14px;
  font-weight: 500;
  padding: 12px;

  text-transform: uppercase;
  border: none;
  border-radius: 3px;
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.12),
    0px 3px 3px 0px rgba(0, 0, 0, 0.24);
  cursor: pointer;
  align-self: center;
}

.login_button:hover {
  box-shadow: 0px 0px 3px 0px rgba(255, 255, 255, 0.12),
    0px 3px 3px 0px rgba(255, 255, 255, 0.24);
}
