.price-config__controls-prices {
  margin-bottom: 26px;
}

.price-config__controls-prices-tittle {
  margin-bottom: 15px;
}

.price-config__controls-prices-container {
  display: grid;
  flex-wrap: wrap;
  gap: 10px;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1rem;
  color: #848484;
}

.price-config__controls-prices-info {
  display: flex;
  gap: 10px;
  align-items: center;
}

.price-config__controls-prices-label {
  display: flex;
  flex-direction: column;

  font-size: 0.75rem;
  line-height: 0.875rem;
  color: #848484;
}

.price-config__controls-prices-input {
  width: 100px;
  height: 36px;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 2px;

  font-size: 1rem;
  font-weight: 400;
  line-height: 1.1719rem;
  color: #757575;
  text-align: start;

  border: 1px solid #b7b7b7;
  border-radius: 1px;
}

.price-config__controls-prices-input:focus {
  outline: none;
  border-color: #63536c;
  box-shadow: 0 0 5px rgba(79, 1, 99, 0.5);
}

.price-config__controls-prices-set-price {
  display: flex;
  gap: 8px;
  font-size: 0.875rem;
  align-items: center;
}

.price-config__controls-prices-standart {
  background: #c4c4c4;
  border: 1px solid rgba(57, 57, 57, 1);
}

.price-config__controls-prices-vip {
  background: url(/box__bg.png);
  border: 1px solid #0a828a;
}
