.modal__form-textarea {
  width: 100%;
  height: 80px;

  padding: 8px;

  resize: none;
  outline: none;
  border: 1px solid #757575;
}

.modal__form-textarea:focus {
  outline: #63536c;
  border-color: #63536c;
}

.hidden-input {
  display: none;
}

.btn__upload {
  max-width: 194px;
  width: 100%;
  height: 40px;

  text-align: center;

  background-color: #16a6af;
  color: #fff;
}

.btn__upload:active {
  background-color: #63536c;
  border: none;
}
