@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,600;1,600&family=Roboto+Condensed:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-width: 360px;
  /* max-width: 1600px; */
  min-height: 100vh;
  margin: 0 auto;
  font-family: Roboto, Arial, sans-serif;
  color: #000000;
  background-color: #ffffff;

  background-repeat: no-repeat;
  background-size: cover;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}
/* 
#root {
  max-width: 1600px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */

.container {
  max-width: 990px;
  margin: 0 auto;
  min-height: 100vh;
}

/* Header стили */
.header {
  background-color: transparent;
  padding: 14px 0;
  /* color: white; */
}

.header_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 34px;
}

.header_logo {
  color: white;
  font-size: 34px;
  font-weight: 900;
  text-decoration: none;
  text-transform: uppercase;
}

.header_logo-letter {
  font-weight: 100;
}

.header_button {
  background-color: #16a6af;
  color: white;
  border: none;
  border-radius: 3px;
  padding: 12px;
  font-weight: 500;
  text-transform: uppercase;
  cursor: pointer;
}
